<mat-chip-list #chipList>
  <mat-chip
          *ngFor="let chip of value"
          [selectable]="selectable"
          [removable]="removable"
          (remove)="removeChip(chip)"
          [disabled]="disabled"
  >
    {{chip}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>

  <input [matChipInputFor]="chipList" [matAutocomplete]="auto" [matChipInputAddOnBlur]="addOnBlur"
         matInput #chipInput/><!-- [formControl]="autoCompleteChipList"-->
</mat-chip-list>
<mat-autocomplete #auto="matAutocomplete"> <!--(optionSelected)="addChip($event, chipInput)"-->
  <mat-option *ngFor="let option of filteredSources" [value]="option">
    {{ option.text }}
  </mat-option>
</mat-autocomplete>
