$yiq-contrasted-threshold: 202;

$font-size-base: 0.9rem;

$info: #c9c9c9;
$success: #30c171;

$btn-font-weight: 500;

$input-color: #757575;
$input-border-color: #b5c1cd;
$input-disabled-bg: #f9f9f9;
$input-group-addon-bg: $input-disabled-bg;

$form-group-margin-bottom: 1.5rem;

$navbar-dark-color: white;

$starlab-stepper-color: #b6c2cd;
