$yiq-contrasted-threshold: 202;

$info: #c9c9c9;
$success: #30c171;

$navbar-dark-color: white;

$input-border-color: #b5c1cd;
$input-disabled-bg: #f9f9f9;
$input-group-addon-bg: $input-disabled-bg;

$starlab-stepper-color: #b6c2cd;

$form-group-margin-bottom: 1.5rem;