@import './variables';
@import './mixins';

@import
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
'~bootstrap/scss/grid',
'~bootstrap/scss/utilities';

html {
  min-height: 100%;
  position: relative;
  body {
    margin: 0;
    margin-bottom: 60px;
  }
}