@import './variables';
@import './mixins';

@import
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
'~bootstrap/scss/grid',
'~bootstrap/scss/forms',
'~bootstrap/scss/buttons',
'~bootstrap/scss/dropdown',
'~bootstrap/scss/input-group',
'~bootstrap/scss/nav',
'~bootstrap/scss/navbar',
'~bootstrap/scss/utilities';

html {
  min-height: 100%;
  position: relative;
  body {
    margin: 0;
    margin-bottom: 60px;
    @include gradient-directional(#d7d7d7, #fff);
  }
}
label {
  color: #5d7081;
  margin-bottom: 0.2rem;
}
.form-control {
  &:disabled, &[readonly] {
    border-color: transparent;
    border-radius: 0.4rem;
  }
  &.ng-touched.ng-invalid {
    @extend .is-invalid;
  }
}
