@import '~sass/variables';
@import '~bootstrap/scss/mixins';

@mixin step-point($color: $starlab-stepper-color) {
  background-image: radial-gradient(circle, $color 38%,transparent 39%);
  background-repeat: no-repeat;
}

.navbar {
  @include gradient-directional(#687c8e, #1d2d34);
  .navbar-nav .nav-item {
    .nav-link {
      font-weight: bold;
      padding-right: 4rem;
      &.nav-logout {
        background: url(../assets/img/logout.png) no-repeat center left;
        padding-left: 2rem;
      }
    }
    &.dropdown-language a {
      text-transform: capitalize;
    }
  }
}

mat-horizontal-stepper {
  margin-top: 40px;
  width: 698px;
  background-color: transparent;
  ::ng-deep {
    .mat-horizontal-stepper-header-container, .mat-horizontal-content-container {
      background-color: white;
      border-radius: 5px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
    }
    .mat-horizontal-stepper-header-container {
      margin-bottom: 26px;
      padding: 0 10px;
      mat-step-header {
        height: 112px;
      }
      .mat-step-icon, .mat-step-icon-not-touched {
        display: none;
      }
      .mat-step-label {
        min-width: 0;
        div {
          font-size: 36px;
          font-weight: bold;
          color: $starlab-stepper-color;
          &::before {
            position: absolute;
            top: 16px;
            z-index: 3;
            display: block;
            color: #5d7081;
            content: attr(data-content);
            font-size: 12px;
            font-weight: normal;
          }
          &::after {
            position: absolute;
            bottom: 16px;
            z-index: 3;
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid $starlab-stepper-color;
            border-radius: 50%;
            margin-left: 2px;
            @include step-point();
          }
        }
        &.mat-step-label-active div {
          color: $success;
          &::after {
            @include step-point($success);
          }
        }
        &.mat-step-label-selected div {
          color: #586b7b;
        }
      }
      .mat-stepper-horizontal-line {
        align-self: flex-end;
        height: 24px;
        margin: 0 -20px;
      }
    }
    .mat-horizontal-content-container {
      padding-top: 32px;
      h3 {
        border-left: 3px solid $success;
        text-transform: uppercase;
        font-size: 16px;
        color: #5d7081;
        font-weight: bold;
        line-height: 0.9;
        padding-left: 10px;
        margin-bottom: 1.5rem;
      }
      agm-map {
        height: 100%;
      }
    }
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  @include gradient-x(#7e93a8, #374853);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  height: 40px;
}
