<nav app-navbar></nav>

<form [formGroup]="formGroup">
  <mat-horizontal-stepper class="ml-auto mr-auto" linear formArrayName="formArray" #stepper>
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">1</div>
      </ng-template>
      <h3 i18n>Location Info</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="legalNameInputText" i18n>Legal Name</label>
          <input type="text" [value]="legalName" class="form-control" id="legalNameInputText" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="tradeNameInputText" i18n>Trade Name</label>
          <input type="text" class="form-control" id="tradeNameInputText" formControlName="tradeName" required>
          <div *ngIf="tradeName.invalid && (tradeName.dirty || tradeName.touched)" class="invalid-feedback">
            <ng-container *ngIf="tradeName.errors.required" i18n>Name is required.</ng-container>
            <ng-container *ngIf="tradeName.errors.maxlength" i18n>Name must be no more than {inputMaxLength, plural, =1 {1 character} other {{{inputMaxLength}} characters}}.</ng-container>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="discountInputNumber" i18n>Discount StarNet</label>
          <div class="input-group">
            <input type="number" class="form-control" id="discountInputNumber" formControlName="discount" aria-describedby="percent-addon" required>
            <div class="input-group-append">
              <span class="input-group-text" id="percent-addon">%</span>
            </div>
            <div *ngIf="discount.invalid && (discount.dirty || discount.touched)" class="invalid-feedback">
              <ng-container *ngIf="discount.errors.required" i18n>Discount is required.</ng-container>
              <ng-container *ngIf="discount.errors.min" i18n>Discount must be at least {{discountMin}}%.</ng-container>
              <ng-container *ngIf="discount.errors.max" i18n>Discount should not exceed {{discountMax}}%.</ng-container>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label></label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="reservationCheckbox" formControlName="reservation">
            <label class="form-check-label" for="reservationCheckbox" i18n>Activating the reservation</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="categorySelect" i18n>Category</label>
          <select class="form-control" id="categorySelect" formControlName="category">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <div *ngIf="category.invalid && (category.dirty || category.touched)" class="invalid-feedback">
            <ng-container *ngIf="category.errors.required" i18n>Category is required.</ng-container>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="orderSumSelect" i18n>Select the average sum of the single order</label>
          <mat-select class="form-control" id="orderSumSelect" formControlName="orderSum">
            <mat-option *ngFor="let sum of sums" [value]="sum.id">
              {{ sum.name }}
            </mat-option>
          </mat-select>
          <div *ngIf="orderSum.invalid && (orderSum.dirty || orderSum.touched)" class="invalid-feedback">
            <ng-container *ngIf="orderSum.errors.required" i18n>Sum is required.</ng-container>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="roDescriptionTextarea" i18n>Description RO</label>
          <textarea class="form-control" id="roDescriptionTextarea" rows="3" formControlName="roDescription" required></textarea>
          <div *ngIf="roDescription.invalid && (roDescription.dirty || roDescription.touched)" class="invalid-feedback">
            <ng-container *ngIf="roDescription.errors.required" i18n>Description is required.</ng-container>
            <ng-container *ngIf="roDescription.errors.maxlength" i18n>Description must be no more than {textareaMaxLength, plural, =1 {1 character} other {{{textareaMaxLength}} characters}}.</ng-container>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="ruDescriptionTextarea" i18n>Description RU</label>
          <textarea class="form-control" id="ruDescriptionTextarea" rows="3" formControlName="ruDescription" required></textarea>
          <div *ngIf="ruDescription.invalid && (ruDescription.dirty || ruDescription.touched)" class="invalid-feedback">
            <ng-container *ngIf="ruDescription.errors.required" i18n>Description is required.</ng-container>
            <ng-container *ngIf="ruDescription.errors.maxlength" i18n>Description must be no more than {textareaMaxLength, plural, =1 {1 character} other {{{textareaMaxLength}} characters}}.</ng-container>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 offset-6">
          <button type="reset" class="btn btn-info btn-block" (click)="revert()" [disabled]="locationInfoFormGroup.pristine" i18n>Cancel</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success btn-block" [disabled]="locationInfoFormGroup.invalid" matStepperNext i18n>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">2</div>
      </ng-template>
      <h3>Working Hours</h3>
      <div class="row">
        <div class="col-2 offset-2">
          De la:
        </div>
        <div class="col-2">
          Pana la:
        </div>
      </div>
      <div *ngFor="let workingHour of workingHours; let i = index" class="row">
        <div class="col-2">
          {{ weekDays[i] }}
        </div>
        <div class="col-4 row">
          <div class="col-5">
            <mat-form-field>
              <input matInput type="time" [value]="workingHour.fromTime"><!-- formControlName="secondCtrl"-->
            </mat-form-field>
          </div>
          <div class="col-2 align-self-center">
            &mdash;
          </div>
          <div class="col-5">
            <mat-form-field>
              <input matInput type="time" [value]="workingHour.toTime">
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <mat-button-toggle-group #group="matButtonToggleGroup" [value]="workingHour.state">
            <mat-button-toggle value="open">
              Open
            </mat-button-toggle>
            <mat-button-toggle value="closed">
              Closed
            </mat-button-toggle>
            <mat-button-toggle value="24">
              24/24
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 offset-6">
          <button type="button" class="btn btn-success btn-block" [disabled]="locationInfoFormGroup.invalid" matStepperPrevious i18n>Back</button>
        </div>
        <div class="col-md-3">
          <button type="reset" class="btn btn-info btn-block" (click)="revert()" [disabled]="locationInfoFormGroup.pristine" i18n>Cancel</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success btn-block" [disabled]="locationInfoFormGroup.invalid" matStepperNext i18n>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">3</div>
      </ng-template>
      <h3>Contact data</h3>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Contact First Name</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contact Last Name</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" [textMask]="{ mask: phoneMask, showMask: true }" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Post Code</mat-label>
            <input matInput required>
          </mat-form-field>
        </div>
        <div class="col">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 offset-6">
          <button mat-button matStepperPrevious>Cancel</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">4</div>
      </ng-template>
      <h3>Photos</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <image-upload></image-upload>
      <div class="row">
        <div class="col offset-6">
          <button mat-button matStepperPrevious>Cancel</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">5</div>
      </ng-template>
      <h3>Filters</h3>
      <h4>Specificați caracteristicile localului</h4>
      <!--<mat-form-field>
        <mat-label>Bucatarie</mat-label>
        <app-tags-input
                [source]="[{ value: '1', text: 'Cinese' }, { value: '2', text: 'Switzerlandă' }, { value: '3', text: 'Molldovenească' }, { value: '4', text: 'Georgiană' }]"
                [value]="['1', '2']"
        ></app-tags-input>
      </mat-form-field>-->
      <div class="row">
        <label>Tip local</label>
      </div>
      <div class="row">
        <label>Tip mese</label>
      </div>
      <div class="row">
        <label>Menu special</label>
      </div>
      <div class="row">
        <div class="col offset-6">
          <button mat-button matStepperPrevious>Cancel</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">6</div>
      </ng-template>
      <h3>Additions and prices</h3>
      <!--<mat-form-field>
        <mat-label>Selectati toate elemente aditionale disponibile</mat-label>
        <app-tags-input
                [source]="[{ value: '1', text: 'Cinese' }, { value: '2', text: 'Switzerlandă' }, { value: '3', text: 'Molldovenească' }, { value: '4', text: 'Georgiană' }]"
                [value]="['1', '2']"
        ></app-tags-input>
      </mat-form-field>-->
      <div class="row">
        <label>Selectati elemente aditionale desponibile pentru bronare</label>
      </div>
      <div class="row">
        <div class="col offset-6">
          <button mat-button matStepperPrevious>Cancel</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div i18n-data-content data-content="Step">7</div>
      </ng-template>
      <h1>Felicitari!</h1>
      <p>Acum localul Dvs este gata de a fi trimis la administratorii StarClub la verificare.
        In scurt timp veti fi contactat de managerii proiectului.
        Pentru a trimite localul la aprobare selectati butonul Trimite.</p>
      <div class="row">
        <button mat-button>Trimite</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>

<mat-toolbar class="page-footer justify-content-center">© 2013-2017 “Star-Club” All rights reserved.</mat-toolbar>
